@model TECHNOLOGY_SHOP.Models.tb_LoaiSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>XÓA THÔNG TIN</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Loại sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tên loại sản phẩm</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenLoaiSP)
        </dd>

        <dt>
            <label>Trạng thái</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
