<a class="nav-link active" aria-current="page" href="@Url.Action("GioHang",
"GioHang")" style="text-decoration: none">Giỏ hàng (@ViewBag.Tongsoluongsanpham)</a>

@*<a class="getstarted scrollto active" href="@Url.Action("GioHang",
"GioHang")" style="font-weight:bold; text-decoration:none">
    Giỏ hàng (@ViewBag.Tongsoluongsanpham)
</a>*@
